{{>partials/header}}
    
{{#descricaoPagina}}

        <section class="banner"> <img src = "/images/{{icone}}" width = "30px"> - {{titulo}} </section>

{{/descricaoPagina}}




<h2>Locais:</h2>
<ul>
        {{#lugares}}
                <li>Lugar: {{nome}} ID: {{id}}</li>
        {{/lugares}}
</ul>

{{>partials/footer}}