<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=0">
    <title>thaischelinho</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="icon" type="/image/png" href="/images/iconeprincipal.svg" />
</head>
<body>
<header>
    <div class="container">
        <a href="">Thaischelin</a>
        <form method="GET" action="/search">
            <input type="search" name="q" placeholder="Search" />
        </form>
    </div>
</header>
<nav>
    <ul>
        <li class="{{#menuativado.home}}menuAtivo{{/menuativado.home}}"><a href="/">Todos</a></li>
        <li class="{{#menuativado.comes}}menuAtivo{{/menuativado.comes}}"><a href="/comes">Comes</a></li>
        <li class="{{#menuativado.bebes}}menuAtivo{{/menuativado.bebes}}"><a href="/bebes">Bebes</a></li>
        <li class="{{#menuativado.passeios}}menuAtivo{{/menuativado.passeios}}"><a href="/passeios">Passeios</a></li>
    </ul>
</nav>